<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <div v-if="open">
            <p>{{title ? getTitle() : 'titolo non presente'}}</p>
            <input type="text" @keyup.13="saveElement($event, true)" :value="title" @input="changeTitle">
            <a href="/" @click.prevent="saveElement($event)">Salva</a>
        </div>
        <div v-else>Il div è chiuso</div>
        <button @click="open = !open">{{open? 'Nascondi': 'Mostra'}}</button>
        <div>
            <h1>Operazioni sui seguenti numeri</h1>
            <div>
                <ul>
                    <li v-for="n in numbers">
                        {{n}}
                    </li>
                </ul>
            </div>
            <div>
                <p>La somma è {{sum}}</p>
            </div>
            <div>
                <p>La media è {{average}}</p>
            </div>
            <div>
                <h3>Aggiungi un numero</h3>
                <input type="number" v-model.number="number" @keyup.enter="addNumber">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Ciao Mondo',
                open: false,
                numbers: [],
                number: undefined
            },
            beforeCreate(){
                console.log('beforeCreate')
            },
            created(){
                console.log('created')
            },
            beforeMount(){
                console.log('before mount')
            },
            mounted() {
                console.log('mounted')
            },
            beforeUpdate(){
                console.log('before update')
            },
            updated(){
                console.log('updated')
            },
            watch: {
              title: function () {
                  console.log('hai modificato il titolo');
              }
            },
            computed: {
              sum : function () {
                  console.log('computed somma');
                  return this.numbers.reduce((sum, n) => sum + n, 0);
              },
                average: function () {
                    console.log('computed media');
                    return this.numbers.length?
                        this.sum/this.numbers.length : 0
                }
            },
            methods: {
                getTitle: function(){
                  return this.title.toUpperCase();
                },
                changeTitle: function (event) {
                    this.title = event.target.value;
                },
                addNumber: function(){
                    if(this.number){
                        this.numbers.push(this.number);
                        this.number = undefined;
                    }
                },
                getSum(){
                    console.log('passaggio somma');
                    return this.numbers.reduce((sum, n) => sum + n, 0);
                },
                getAverage(){
                    console.log('passaggio media');
                  return this.numbers.length?
                      this.getSum()/this.numbers.length : 0
                },
                saveElement: function (event, reset = false) {
                    console.log(event);
                    setTimeout(() => {
                        alert('Salvataggio avvenuto con successo');
                        if(reset)
                            this.title = '';
                    }, 700);
                }
            }
        })
    </script>
</body>
</html>
